 <!-- ======= Our Clients Section ======= -->
 <section id="clients" class="clients">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Our <strong style="color:#f03c02;">Partners</strong></h2>
        <p></p>
      </div>

      <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
      {% for i in partners_images%}
        <div class="col-lg-2 col-md-2 col-xs-6">
          <div class="client-logo">
            <img src="/media/{{i.client_image}}" class="img-fluid" alt="{{i.name}}">
          </div>
        </div>
        {% endfor%}
       
      </div>

    </div>
  </section><!-- End Our Clients Section -->
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Quick Contact</h3>
            <p>
              <b>Branch Office </b> <br>
              Shop No: 1&2, B-3/157 Yamuna Vihar Delhi-110053<br>
              <strong>Phone:</strong>91-9871958099<br>
              <strong>Email :</strong>info@pragti.org<br>
              <b>Head Office </b> <br>
              H-21 Old Seemapuri Delhi-110095<br>
              <strong>Phone:</strong>+(011) 65806010 |+91-880806010<br>
              <strong>Email :</strong>info@pragti.org<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Who We Are</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/donate">Donate</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact-us">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/volunter">Volunter</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>About PEWS</h4>
            <p>
                Pragti Education And Welfare Society will be working for the social welfare and education in the surroundings rural area in all the states of the countr...<a class="font-14" href="/about"><i class="fa text-theme-colored"></i> Read more</a>
            </p>
            <h4>Join Our Newsletter</h4>            
            <form action="/subscribenewlatter" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Pragti Educationa and Welfare</span></strong>. All Rights Reserved
        </div>
             </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->