<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><img src="/static/frontend/assets/img/ngo-logo.jpg" alt="Pragti" class="logo"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/static/frontend/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="{% if request.path == '/' %} active {% endif %}" href="/">Home</a></li>
          <li class="dropdown"><a href="#"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/about-us">Who We Are</a></li>              
              <li><a href="/members">Board Members</a></li>              
            </ul>
          </li>          
          <li><a class="{% if request.path == '/aw/' %} active {% endif %}" href="#">Awareness Programs</a></li>
          <li><a class="{% if request.path == '/sp/' %} active {% endif %}" href="#">Skill Programs</a></li>
          <li><a class="{% if request.path == '/donate/' %} active {% endif %}" href="/donate">Donate</a></li>
          <li><a class="{% if request.path == '/volunter/' %} active {% endif %}" href="/volunter">Volunter</a></li>
          <li><a class="{% if request.path == '/gallery/' %} active {% endif %}" href="/gallery">Gallery</a></li>         
          <li><a class="{% if request.path == '/blog/' %} active {% endif %}" href="/blog">Blog</a></li>        
          <li><a class="{% if request.path == '/contact-us/' %} active {% endif %}" href="/contact-us/">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->