{% extends "frontend/layout/layout.html" %}
{% block title%}Contact US{% endblock%}
{% block style %}
<style>    
    .btn-danger{
        background-color:#f03c02;
    }
</style>
{% endblock %}
{% block content%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    
       
    <section id="contact" class="contact">
      <div class="container">   

        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="col-lg-12">
                <img src="/static/frontend/assets/img/contactus.jpg">
            </div>
          </div>
          <div class="col-lg-6">
            <form action="/save-enquiry" method="post" role="form" class="">
                {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name" required>
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last Name" required>
                  </div>                
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Mobile No" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>              
              <div class="text-center my-3"><button type="submit"class="btn btn-danger">Send Message</button></div>
            </form>
          </div>

        </div>

        <div class="row mt-3 justify-content-center" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Shop No: 1&2, B-3/157 Yamuna Vihar Delhi-110053</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@pragti.org</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91-9871958099</p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row  mt-3 justify-content-center" data-aos="fade-up">

          <div class="col-lg-12">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>H-21 Old Seemapuri Delhi-110095</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@pragti.org</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+(011) 65806010 |+91-880806010</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <div class="map-section">
        <iframe style="border:0; width: 100%; height: 450px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14001.318682708374!2d77.3290445!3d28.6797834!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x91316175da0d2786!2sPRAGTI+EDUCATION+%26+WELFARE+SOCIETY!5e0!3m2!1sen!2sin!4v1527823211860" frameborder="0" allowfullscreen></iframe>
    </div>
  

  </main><!-- End #main -->
  {% endblock %}
