{% extends "frontend/layout/layout.html" %}
{% block title%}Donate{% endblock%}
{% block style %}
<style>
    .account-head{
        font-weight: bold;
    }
    .btn-danger{
        background-color:#f03c02;
    }
</style>
{% endblock%}
{% block content%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Donate</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Donate</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
          <div class="row">
            <div class="col-lg-12  text-lg-left"> 
                <p><span style="color:black">Thanks to donors like you, disadvantaged families get resources they need to send their children to school, efforts are being made to combat the spread of HIV/AIDS and resources are mobilized for the cause & care of our elders to improve their quality of life. Here is a chance to make a small contribution to bring a SMILE on many a faces, please simple replica rolex datejust watches Contribute / Donate / Sponsor.</span></p>
                <p><span style="color:black">If you look around you today, you see an India, which, in a rush to become developed is destroying the very natural resource base on which development hinges. Talk of an environmental problem, and we have it. Our land is degraded. Deforestation has claimed our jungles and forests once famed for their abundant wildlife. Our groundwater is polluted and overexploited. Almost all our rivers have become dirty drains. Our cities and towns are choking on polluted air. Pesticides invade our food and our bodies.</span></p>
                <p><span style="color:black">Pragti Education And Welfare Society  today has a large action programme now to serve  mobilise Indian society. But for this work to continue, the institution must be strong, both internally and externally. We need the support of friends like you who believe that what we are doing is important; friends like you who can give us their encouragement, time and money to spread our message.</span></p>
                </p>
            </div>            
          </div>
  
        </div>
      </section><!-- End Cta Section -->   
      <!-- ======= Services Section ======= -->
      <section id="service" class="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#e93b19;">
                            <h3 class="title text-white text-center">We are happy to help you ! </h3>
                        </div>
                        <div class="card-body">
                            <form action="/save-enquiry" method="post" role="form" class="">
                                {% csrf_token %}                              
                                <div class="form-group mt-3">
                                  <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last Name" required>
                              </div> 
                              <div class="form-group mt-3">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Mobile No" required>
                              </div>
                              <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                              </div>
                              <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                              </div>
                              <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                              </div>                              
                              <div class="text-center my-3"><button type="submit" class="btn btn-danger">Send Message</button></div>
                            </form>
                        </div>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#e93b19;">
                            <h3 class="title text-white text-center">Paymet Details</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive">
                                <tr>                     
                                    <td colspan="2" style="text-align: center;"><h4>Cheque/Demand Draft</h4></td>                     
                                </tr>                     
                                <tr>                     
                                    <td class="account-head">A/C Holder Name</td> <td>Pragti Education And Welfare Society </td>                     
                                </tr>                     
                                <tr>                     
                                    <td class="account-head">Payble Location</td> <td>Delhi</td>                     
                                </tr>                     
                                <tr>                     
                                    <td class="account-head">Mailling Address</td> <td>H-21 Old Seemapuri Delhi 110095</td>                     
                                </tr> 
                                <tr>
                                     <td colspan="2"style="text-align: center;"><h4>Online/NEFT</h4></td>
                                </tr>
                                <tr>
                                    <td class="account-head">Bank Name</td> <td>AXIS Bank</td>
                                </tr>
                                <tr>
                                    <td class="account-head">A/C Holder Name</td> <td>Pragti Education And Welfare Society </td>
                                </tr>
                                <tr>
                                    <td class="account-head">A/C No</td> <td>917010066210911</td>
                                </tr>
                                <tr>   
                                    <td class="account-head">A/C Type</td> <td>Saving A/c</td>
                                </tr>
                                <tr>
                                    <td class="account-head">IFSC Code</td> <td>UTIB0001146</td>
                                </tr>
                                <tr>
                                    <td class="account-head">Branch</td> <td>DILSHAD COLONY, DELHI-110095 </td>
                                                     
                                </tr>                     
                                </table>                     
                        </div>
                      </div>
                </div>
            </div>          
        </div>        
    </div>
      </section><!-- End Services Section -->
  

  </main><!-- End #main -->
  {% endblock %}
