{% extends "frontend/layout/layout.html" %}
{% block title%}Gallery{% endblock%}
{% block content%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Gallery</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    
       
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">   
         
          <div class="row portfolio-container" data-aos="fade-up">
          {% for i in gallery_images %}
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <a href="/media/{{i.gallery_image}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{i.title}}"><img src="/media/{{i.gallery_image}}" class="img-fluid" alt="{{i.title}}" style="height:250px;width:400px;">
              </a>
              <div class="portfolio-info">
                <h4>{{i.title}}</h4>
                <p>{{i.image_desc}}</p>
                <p>{{i.created_at}}</p>
                <a href="/media/{{i.gallery_image}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{i.title}}"><i class="bx bx-plus"></i></a>
              </div> 
            </div>         
          {% endfor %}
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->  
  

  </main><!-- End #main -->
  {% endblock %}
