{% extends "frontend/layout/layout.html" %}
{% block title%}Heme Page {% endblock%}
{% block style %}
 <style>
     .services
     {
         background:#faf9f8;
     }
     .services .icon-box
     {
        background: #ffffff;
        height: 150px
     }
     .runningproject .heading
     {
        color:#fff;
        font-style:upper;
        font-weight:bold;
        text-align:center;
     }
     .portfolio .heading
     {
        color:#000;
        font-style:upper;
        font-weight:bold;
        text-align:center;       
     }


</style>
{%endblock%}
{% block content%}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        {% for i in sliders %}
         <!-- Slide 1 -->
         <div class="carousel-item {% if forloop.first %} active {% endif%}" style="background-image: url(/media/{{i.slider_image}});">
            <div class="carousel-container">
              <div class="carousel-content animate__animated animate__fadeInUp">
                <h2>Welcome to <span>PWES</span></h2>
                <p>Pragti Education And Welfare Society will be working for the social welfare and education in the surroundings rural area in all the states of the countr... Read more</p>
                <div class="text-center"><a href="/about-us" class="btn-get-started">Read More</a></div>
              </div>
            </div>
          </div>
        {% endfor%} 

     </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta" style="background:#fff;">
      <div class="container">
        <div class="row">
          <div class="col-lg-9  text-lg-left">
            <h3>WELCOME TO <span class="text-theme-colored">PRAGTI EDUCATION AND WELFARE SOCIETY</span></h3>
                {{ about.page_content | safe | truncatechars:1000 }}
                <span class="text-center"><a href="/about-us" class="btn-get-started">Read More</a></span>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <img src="/static/frontend/assets/img/logo-ngo.jpg" style="width:250px;">
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="row">
            <h2 style="font-weight:bold;" class="text-center">What Can We Do?</h2>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" style="height:150px;">
              <div class="icon"><i class="bi bi-currency-exchange"></i></div>
              <h4 class="title"><a href="">GIVE DONATION</a></h4>
              <p class="description">You can give donation to help in our running Projects.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="height:150px;">
              <div class="icon"><i class="bi bi-people-fill"></i></div>
              <h4 class="title"><a href="">BECOME VOLENTEER</a></h4>
              <p class="description">You can become a volenteer to help the need peson.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200" style="height:150px;">
              <div class="icon"><i class="bi bi-bank"></i></div>
              <h4 class="title"><a href="">GIVE SCHOLARSHIP</a></h4>
              <p class="description">You can give donation as scholership for poor students.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200" style="height:150px;">
              <div class="icon"><i class="bi bi-diagram-3-fill"></i></div>
              <h4 class="title"><a href="">ADOPT A CHILD</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300" style="height:150px;">
              <div class="icon"><i class="bi bi-house-door"></i></div>
              <h4 class="title"><a href="">BUILD HOUSE</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400" style="height:150px;">
              <div class="icon"><i class="bi bi-cart4"></i></div>
              <h4 class="title"><a href="">GIVE FOOD</a></h4>
              <p class="description"></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= r=Running Project Section ======= -->
    <section id="runningproject" class="runningproject bg-dark">
        <div class="container">
          <div class="row">
              <h2 class="heading">Running <span style="color:#f03c02;">Projects</span></h2>         
          </div>
  
        </div>
      </section><!-- End Services Section -->    

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">     
        <h2 class="heading">Our <span style="color:#f03c02;">Gallery</span></h2>      

        <div class="row portfolio-container" data-aos="fade-up">
        {% for i in gallery_images %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href="/media/{{i.gallery_image}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{i.title}}"><img src="/media/{{i.gallery_image}}" class="img-fluid" alt="{{i.title}}" style="height:250px;width:400px;">
            </a>
            <div class="portfolio-info">
              <h4>{{i.title}}</h4>
              <p>{{i.image_desc}}</p>
              <p>{{i.created_at}}</p>
              <a href="/media/{{i.gallery_image}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{i.title}}"><i class="bx bx-plus"></i></a>
            </div> 
          </div>         
        {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->  

  </main><!-- End #main -->

{% endblock%}