{% extends "frontend/layout/layout.html" %}
{% block title%} Success Page{% endblock%}
{% block content%}

  <main id="main">    
       
    <section id="contact" class="contact">
      <div class="container">   


        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <div class="info-wrap">
              <div class="row">

                <h2 style="text-align:center;">Success!!!</h2>                
                <center>
                <img src="/static/frontend/assets/img/ok.jpg" style="width: 200px;"> <br>
                <div class="alert alert-success text-center" role="alert">
                    Your Enquiry has been saved successfully. We will get back to you.
                 </div>
                <a href="/"><button class="btn btn-danger" >Home Page</button</a>
                </center>
              </div>
            </div>

          </div>

        </div>

        
      </div>
    </section><!-- End Contact Section -->   

  </main><!-- End #main -->
  {% endblock %}
