{% extends "frontend/layout/layout.html" %}
{% block title%}Volunter{% endblock%}
{% block style %}
<style>
    .volunter .img{
        border-radius: 100px !important;
        height: 200px !important;;
    }
</style>
{% endblock%}
{% block content%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Volunter</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Volunter</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
          <div class="row">
            <div class="col-lg-12  text-lg-left">      

            <p><strong>Pragti Education and Welfare Socity</strong> provides you with an opportunity to help nation strengthen the position of our women. You can be an intern or volunteer with <strong>Pragti Education and Welfare Socity</strong>, but in order to do that you must:</p>
                <ol>                
                    <li>Be above 18</li>                
                    <li>Be studying or have a degree in social sciences, development studies or any other relevant discipline</li>                
                </ol> 
      
            <p>The internship can be short-term or long-term, however, a minimum 3 to 6 month’s duration is recommended for mutual benefit.</p> 
            <p>If you are the one with a strong desire to make a revolutionary difference in the society and contribute to the current programs of the NGO, you can be a part of it and aid in social development.</p>  
            <p>During your volunteerism, you will be able to gain hands-on experience in social activities like organising and managing a campaign, supporting and conducting research and exposure to the social service. You will also be able to ensure outreach of the campaigns through social networks and direct communication. While doing all these activities, your work will be monitored by experts in the field.</p>
            <br>  
            <a href="#" id="joinbtn" class="btn btn-danger btn-md mt-20 joinbtn"><b>Join Now</b></a>             
            </div>            
          </div>
  
        </div>
      </section><!-- End Cta Section -->   
      <!-- ======= Services Section ======= -->
      <section id="service" class="service">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Our <strong style="color:#f03c02;">Volunters</strong></h2>
            <p></p>
          </div>
            <div class="row row-cols-1 row-cols-md-6 g-6">
            {% for i in volunters %}           
                <div class="col volunter my-3">
                    <div class="card h-100">
                    <img src="/media/{{i.volunter_image}}" class="card-img-top img" alt="{{i.name}}" style=" border-radius: 100px; height: 200px !important;;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{i.name}}</h5>
                        <p class="card-text text-center"><i class="bi bi-telephone-forward"></i><span> 9871801654</span></p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="facebook"><i class="bx bxl-facebook" style="font-size:20px;"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-skype" style="font-size:20px;"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-google" style="font-size:20px;"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin" style="font-size:20px;"></i></a>
                    </div>
                    </div>
                </div>          
            {% endfor %}
        </div>        
    </div>
      </section><!-- End Services Section -->
  

  </main><!-- End #main -->
  {% endblock %}
