<!DOCTYPE html>
<html lang="en">

{% load static%}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title%} {% endblock%}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'frontend/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'frontend/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'frontend/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/assets/vendor/aos/aos.css" rel="stylesheet' %}">
  <link href="{% static 'frontend/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'frontend/assets/css/style.css' %}" rel="stylesheet"> 
  {% block style %}{% endblock%}
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91-886-080-6010</span></i>
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@pragti.org">cinfo@pragti.org</a></i>       
        <i class=""><span>Reg No: S/65165/2009</span></i>        
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  {% include 'frontend/layout/common/header.html' %}

  {% block content %}

  {% endblock %} 

  {% include 'frontend/layout/common/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'frontend/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'frontend/assets/js/main.js' %}"></script>
  <script>
      
  </script

</body>

</html>